:root {
    --neutral-01100: #FEFEFE;
    --neutral-02100: #F3F5F7;
    --neutral-03100: #E8ECEF;
    --neutral-04100: #6C7275;
    --neutral-05100: #343839;
    --neutral-07100: #141718;
    --neutral-0450: rgba(108, 114, 117, 0.50);
    --neutrals-2: #23262F;
    --White: #FFF;
    --Blue: #377DFF;
}